  <%= render "layouts/localnav" %>
  
  <main class="asunan-main">
    <article class="asunan-wrap">
      <section class="asunan-disco-wrap">
        <div class="asunan-disco-item">
          <div class="asunan-disco-inner">
            <h3 class="asunan-disco-ttl">Daylight</h3>
            <div class="asunan-disco-img">
              <img id="daylight-img" src="/assets/Daylight.jpg" alt>
            </div>
            <div id="asunan-daylight">
              <div>
                <p class="asunan-music-list">
                  <strong>Playlist</strong>
                  <br>
                  <span>01. Daylight</span>
                  <br>
                  <span>02. PROGRESS 0!</span>
                  <br>
                  <span>03. Thermit</span>
                  <br>
                  <span>04.	48 reasons to poison*you*.</span>
                  <br>
                  <span>05. 無題 -unphase-</span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="asunan-disco-item">
          <div class="asunan-disco-inner">
              <h3>Twilight</h3>
              <div class="asunan-disco-img">
              <img id="twilight-img" src="/assets/Twilight.png">
              </div>
              <div id="asunan-twilight">
                <div>
                  <p class="asunan-music-list">
                    <strong>Playlist</strong>
                    <br>
                    <span>01. twilight</span>
                    <br>
                    <span>02. 時雨日和 (Vo. IA, 初音ミク)</span>
                    <br>
                    <span>03. なんでもいいよ♡たび</span>
                    <br>
                    <span>04.	怪奇！<ruby>狂詩曲人間<rt>《ラプソディ・マン》</rt></ruby></span>
                    <br>
                    <span>05. when the moon *sets*.</span>
                  </p>
                </div>
              </div>
            </div>
        </div>
      </section>
    </article>
  </main>