<div id="loading">
  <div class="spinner">
  </div>
</div>

<div id="wrapper">
  
  <%= render 'layouts/navbar' %>
  
  <div>
    <img id="asunan-sano" src="/assets/illust_compiration.jpg" alt>
  </div>
  <h2 class="bunner1">NEWS</h2>
    
  <div id="news">
      <ul>
        <li>
          <span>
          <a href=""></a>
          </span>
        </li>
        <li>
          <span>
          <a href=""></a>
          </span>
        </li>
        <li>
          <span>
          <a href=""></a>
          </span>
        </li>
      </ul>
    </div>
    <div>
      <video src="/DaylightTwilightM3.mp4" controls playsinline type="video/mp4" preload="auto"></video>
    </div>
  <footer>
      
  </footer>
</div>

<p id="top-btn-text">TOP</p>

